.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    border-radius: 5%;
    background-color: white
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 3.0em;
    width: 100%;
    font-weight: bold;
    color: #000;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #000;
    
  }

  p {
    text-align: justify;
  }

  ion-title {
    font-size: 10px;
  }

}
